html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100vh;
}

h1 {
  margin: 0;
}
/* nav-bar */
nav ul {
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  background-color: #be3144;
}

nav ul li a {
  width: 100%;
  text-decoration: none;
  padding: 1rem;
  color: white;
}

nav ul li a:hover {
  background-color: #5a6074;
}

/* Welcome section */
#welcome-section {
  background-image: linear-gradient(
    250deg,
    rgba(12, 12, 12, 0.9),
    rgba(230, 223, 223, 1)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
}

#welcome-section .welcome {
  text-align: center;
  border: 1px solid blue;
  width: 90%;
  font-size: 2rem;
}
.welcome p {
  color: #be3144;
  font-size: 1.5rem;
}

/* projects section */
#projects {
  background-color: #45567d;
  text-align: center;
}
.projects {
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
}
